@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.card {
  margin: auto;
  width: 250px;
  background-color: hsl(216, 50%, 16%);
  padding: 14px;
  border-radius: 10px;
}
.card .wrapper-img {
  position: relative;
}

.card .wrapper-img img {
  width: 100%;
  border-radius: 8px;
}

.title {
  color: hsl(0, 0%, 100%);
  padding-top: 10px;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.subtitle {
  width: 100%;
  color: hsl(215, 32%, 27%);
  font-size: 14px;
  padding: 10px 0;
  font-weight: 600;
}

.price-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsl(178, 100%, 50%);
}

.price img {
  width: 9px;
  height: 15px;
}

.price span {
  font-size: 13px;
  margin-left: 3px;
  font-weight: 600;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsl(215, 32%, 27%);
}

.time img {
  width: 15px;
  height: 15px;
}

.time span {
  font-size: 13px;
  font-weight: 600;
  margin-left: 3px;
}

.horizontal-line {
  border-top: 0.1px solid hsl(215, 32%, 27%);
  margin-bottom: 10px;
}

.credit {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.credit img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid white;
}

.credit p {
  font-size: 13px;
  color: hsl(215, 32%, 27%);
  margin-left: 10px;
  font-weight: 600;
}

.credit p span {
  color: hsl(0, 0%, 100%);
}

.credit p span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
